<div class="right-content">
  <div class="head-tips">
      <span class=tips-info>安排专员</span>
  </div>
  <div class="detail-content">
    <div class="detailform">
      <div class="line">
        <label for="">姓名*</label>
        <div class="inline">
          <input type="text" name="" value="" ng-model="$ctrl.name" disabled="">
        </div>
      </div>
      <div class="line">
        <label for="">手机号*</label>
        <div class="inline">
          <input type="text" name="" value="" ng-model="$ctrl.mobile" disabled="">
        </div>
      </div>
      <div class="line">
        <label for="">健康专员</label>
        <div class="inline">
          <select class="" name="" style="min-width:200px" ng-model="$ctrl.healthCarePerson" ng-options="x.userId as x.name for x in $ctrl.list" >
          </select>
        </div>
      </div>
      <div class="btn" ng-click="$ctrl.save()">
        保存
      </div>
    </div>
  </div>
</div>
