<div class="right-content">
  <div class="head-tips">
      <span class=tips-info>绑定设备</span>
  </div>
  <div class="detail-content">
    <div class="detailform">
      <div class="line">
        <label for="">姓名*</label>
        <div class="inline">
          <span type="text" name="" value="" ng-model="$ctrl.name"></span>
        </div>
      </div>
      <div class="line">
        <label for="">手机号*</label>
        <div class="inline">
          <span type="text" name="" value="" ng-model="$ctrl.mobile"></span>
        </div>
      </div>
      <div class="line">
        <label for="">智能床编号</label>
        <div class="inline">
          <input type="text" name="" value="" ng-model="$ctrl.smartBed">
        </div>
      </div>
      <div class="btn" ng-click="$ctrl.save()">
        保存
      </div>
    </div>
  </div>
</div>
