<div class="right-content">
  <div class="head-tips">
      <span class=tips-info>客户管理</span>
  </div>
  <div class="detail-content">
      <div class="highline">
        <div class="lf">
          <input type="text" name="" placeholder="请输入姓名、手机号" ng-model="$ctrl.queryInfo" ng-keydown="$ctrl.search($event)"><span ng-click="$ctrl.searchInfo()">查找</span>
        </div>
        <div class="new rf" ui-sref="home.newaccount">
          新增客户
        </div>
      </div>
      <div class="info">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr><td><span>姓名</span></td><td><span>手机号</span></td><td><span>性别</span></td><td><span>年龄</span></td><td><span>注册时间</span></td><td><span>健康服务专员</span></td><td><span ui-sref="home.binding">绑定设备</span></td><td><span>操作</span></td></tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in $ctrl.list">
              <td><span>{{item.name}}</span></td><td><span>{{item.mobile}}</span></td><td><span>{{item.sex === 'M' ? '男' : '女'}}</span></td><td><span>{{item.birdthday | date:'yyyy-MM-dd'}}</span></td>
              <td><span>{{item.createDt | date:'yyyy-MM-dd'}}</span></td><td><span>{{item.commissionerUserName || '无'}}</span></td>
              <td><span>{{item.equipmentNo || '未绑定'}}</span></td>
              <td><span>
                 <em ui-sref="home.newaccount({'isEdit':true,'userId':item.customerId})">详情</em>
                 <em ui-sref="home.healthcare({'customerId':item.customerId,'mobile':item.mobile,'name':item.name})">安排专员</em>

                <em class="ng-class:{true:'active',false:'inactive'}[!item.equipmentNo]"   ui-sref="home.smartBed({'customerId':item.customerId,'mobile':item.mobile,'name':item.name})">绑定设备</em>
                <em class="ng-class:{true:'active',false:'inactive'}[!!item.equipmentNo]"   ng-click="$ctrl.cancelSmartBed(item.customerId,item.equipmentNo,item)">取消绑定</em>
              </span></td>
            </tr>
          </tbody>
        </table>
        <div class="page-turning" ng-show="$ctrl.morePage">
          <span ng-click="$ctrl.ngPageUp()">上一页</span><span ng-repeat="page in $ctrl.pagination" class="{{page == $ctrl.pageNumber? 'cur' : ''}}" ng-click='$ctrl.goDetailPage(page)'>{{page}}</span><span ng-click="$ctrl.ngPageDown()">下一页</span>
        </div>
      </div>
  </div>
</div>
